@page
@model Portfolio.Pages.Projects.ListModel
@{
}

<h2>List of projects</h2>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" value="" asp-for="SearchTerm"/>
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<br/>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Github &nbsp&nbsp</th>
        <th>Status</th>
    </tr>
    @foreach (var project in Model.Projects)
    {
        <tr>
            <td>@project.Name</td>
            <td>@project.Description</td>
            <td>@project.GithubRepo</td>
            <td>@project.Status</td>
            <td>
                <a class="btn btn-lg" asp-page="./Detail" asp-route-projectId="@project.Id">
                    <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
            </td>
        </tr>
    }
</table>


